<style>
  @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
</style>

<nav class="navbar navbar-expand-lg bg-primary p-3">
  <div class="container align-items-center">
    <a
      class=".shrikhand-regular navbar-brand text-warning"
      style="font-family: 'Shrikhand', serif; font-weight: 500; font-size: xx-large"
      routerLink="/"
      >Comy!</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto me-auto mb-2 align-items-center gap-2">
        <li class="nav-item text-white">
        <!--tirei-->
        </li>
        
      </ul>
      <form class="d-flex w-50" role="search">
        <input
          class="form-control me-2"
          type="search"
          [placeholder]="placeholderTexto"
          aria-label="Search"
          name="search"
          [(ngModel)]="searchTerm"
          (ngModelChange)="onSearch($event)"
        />
      </form>
      <ul class="navbar-nav ms-3 gap-2">
        <li class="nav-item">
          <button class="btn btn-primary" (click)="toggleTheme()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              fill="currentColor"
              class="bi bi-circle-half"
              viewBox="0 0 16 16"
            >
              <path d="M8 15A7 7 0 1 0 8 1zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16" />
            </svg>
          </button>
        </li>
        <li class="nav-item">
          <li class="nav-item">
            <button class="btn btn-primary" (click)="irParaPerfil()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="22"
                height="22"
                fill="currentColor"
                class="bi bi-person"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"
                />
              </svg>
            </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary" routerLink="/carrinho">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="22"
              height="22"
              fill="currentColor"
              class="bi bi-cart2"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l1.25 5h8.22l1.25-5zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0"
              />
            </svg>
          </button>
        </li>
        <li class="nav-item ms-3">
          @if(!isLoggedIn()) {
            <button class="btn btn-warning p-2" routerLink="/login">Entrar</button>
          }
          @else {
            <button class="btn btn-danger p-2" (click)="logout()">Sair</button>
          }
        </li>
      </ul>
    </div>
  </div>
</nav>
