@if (tipo ==='Restaurante') {
<app-perfil-restaurante />
}@if(tipo=="Cliente") {
<app-banner />
<div class="container">
<app-categoria (categoriaSelecionadaChange)="aoMudarCategoria($event)" />
  
  <app-filtros (filtrosAlterados)="aoMudarFiltros($event)" />
</div>
<div class="container">
  <p class="text-secondary mb-0 mt-4">Restaurantes</p>
  <div class="row">
   <!-- CORRIGIDO: track com verificação e fallback para index -->
   @for (item of restaurantesData; track item?.restaurante?.id || $index){

    <div class="col-12 col-lg-4 col-md-6 col-sm-12">
      <app-card-restaurante 
            [Restaurante]="item.restaurante"
            [distancia]="item.distanciaKm"
            [mediaPreco]="item.mediaPrecoProdutos"
            [tempoEstimado]="item.tempoEstimadoEntrega"
            [valorFrete]="item.valorFreteEstimado"
          />
    </div>

    } @empty {
      <div class="col-12 mt-4 text-center text-muted">
        <p>Nenhum restaurante encontrado com este nome ou categoria.</p>
      </div>
    }
  </div>
</div>
}