<div class="card rounded-4">
  @if (isLoading) {
  <div class="text-center p-4">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Carregando...</span>
    </div>
  </div>
  } @else {
    <div class="card-body">
    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label">Nome:</label>
        <input class="form-control" [(ngModel)]="cliente.nmCliente" name="nmCliente" [readOnly]="botaoEditar" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Email:</label>
        <input class="form-control" [(ngModel)]="cliente.emailCliente" name="emailCliente" [readOnly]="botaoEditar" />
      </div>

      <div class="col-md-6">
        <label class="form-label">CPF: </label>
        <input class="form-control" [(ngModel)]="cliente.cpfCliente" name="cpfCliente" [readOnly]="botaoEditar" />
      </div>

      <div class="col-md-6">
        <label class="form-label">Telefone: </label>
        <input class="form-control" [(ngModel)]="cliente.telefoneCliente" name="telefoneCliente" [readOnly]="botaoEditar" />
      </div>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-end gap-2">
    @if (botaoEditar === false) {
    <button class="btn btn-outline-primary d-flex align-items-center gap-1" (click)="clickSalvar()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-save-icon lucide-save"
      >
        <path
          d="M15.2 3a2 2 0 0 1 1.4.6l3.8 3.8a2 2 0 0 1 .6 1.4V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z"
        />
        <path d="M17 21v-7a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v7" />
        <path d="M7 3v4a1 1 0 0 0 1 1h7" />
      </svg>
      Salvar
    </button>
    } @else{
    <button class="btn btn-outline-primary" (click)="clickEditar()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-pencil-icon lucide-pencil"
      >
        <path
          d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"
        />
        <path d="m15 5 4 4" />
      </svg>
      Editar
    </button>
    }

    <button class="btn btn-outline-danger" (click)="clickExcluir()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-trash2-icon lucide-trash-2"
      >
        <path d="M10 11v6" />
        <path d="M14 11v6" />
        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
        <path d="M3 6h18" />
        <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
      </svg>
      Excluir
    </button>
  </div>

  }
  
</div>
