<div class="container">
  <div class="card mt-3" style="width: 18rem">
    <img
      src="https://t3.ftcdn.net/jpg/00/27/57/96/360_F_27579652_tM7V4fZBBw8RLmZo0Bi8WhtO2EosTRFD.jpg"
      class="card-img-top"
      alt="Pizza"
    />
    <div class="card-body">
      <p>Pizza Express</p>
      <p class="text-secondary">⭐4.5 ⏱️ 30-40 min • $$</p>
    </div>
    <div class="card-footer d-flex justify-content-between bg-white p-3  mt-2">
      <p>2km</p>
      <p>💲5,90</p>
    </div>
  </div>
</div>
