<div class="card rounded-4 mt-3 p-3">
  <div class="row">
    <div class="col-2">
      <img
        src="../banners/banner-massa-nostra.png"
        class="w-100 rounded-4"
        alt=""
        style="height: 100px; width: auto"
      />
    </div>
    <div class="col">
      <div>
        <div class="position-absolute top-0 end-0 m-3">
          <span class="badge text-bg-primary" style="width: 100px; height: auto;">A caminho</span>
        </div>
        <h5 class="mb-1">Pizzaria Nostra</h5>
      </div>
      <div class="d-flex justify-content-between align-items-center m-0">
        <p class="text-secondary">pedido #12345 • 10/11/2025 as 19:30</p>
        <div class="row-2 d-flex align-items-center gap-3">
          <div class="col">
            <h5>R$ 25,90</h5>
            <p class="text-secondary">Cartão Crédito</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
