<app-painel-entregador />
<div class="container mt-5">
  <div class="card position-relative rounded-5 border-3 border-primary shadow">
    <div class="card-header bg-primary rounded-top-5">
      <div class="d-flex justify-content-between mt-2 mb-4">
        <p class="m-0 text-white">Entrega Atual</p>
        <span class="badge text-bg-light text-primary">#123</span>
      </div>
      <div
        class="progress mb-2 opacity-75"
        role="progressbar"
        aria-label="Info "
        aria-valuenow="25"
        aria-valuemin="25"
        aria-valuemax="100"
      >
        <div class="progress-bar text-bg-info text-primary" style="width: 25%">25%</div>
      </div>
    </div>

    <div class="row gap-3 m-3 mt-5">
      <div class="col-sm-12 col-md-6 col-12 alert alert-warning rounded-4 border-3" role="alert">
        <div class="d-flex gap-2 align-items-center text-danger text-opacity-75 mb-2 fw-bold">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-shop"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.37 2.37 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0M1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5M4 15h3v-5H4zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zm3 0h-2v3h2z"
            />
          </svg>

          <p class="m-0">Retirar em</p>
        </div>
        <div class="">
          <p class="m-0">Pizza express</p>
          <p class="text-secondary">Endereço babab</p>
        </div>
      </div>
      <div class="col alert alert-success rounded-4 border-3" role="alert">
        <div class="d-flex gap-2 align-items-center text-success mb-2 fw-bold">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-shop"
            viewBox="0 0 16 16"
          >
            <path
              d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.37 2.37 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0M1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5M4 15h3v-5H4zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zm3 0h-2v3h2z"
            />
          </svg>

          <p class="m-0">Entregar para</p>
        </div>
        <div class="">
          <p class="m-0">João Silva</p>
          <p class="text-secondary m-0">Rua das Flores, 123 - Apto 45</p>
          <p class="text-primary">(11) 98765-4321</p>
        </div>
      </div>

      <div class="alert alert-light rounded-4" role="alert">
        <div class="row">
          <div class="col">
            <div class="d-flex align-items-center gap-2">
              <div class="text-secondary">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-geo-alt"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"
                  />
                  <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                </svg>
              </div>
              <div class="">
                <p class="text-secondary m-0">Distância</p>
                <p class="m-0">2.5 Km</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="d-flex align-items-center gap-2">
              <div class="text-secondary">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-clock"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71z"
                  />
                  <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0" />
                </svg>
              </div>
              <div class="">
                <p class="text-secondary m-0">Tempo estm.</p>
                <p class="m-0">15 min</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="d-flex align-items-center gap-2">
              <div class="text-secondary">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-currency-dollar"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"
                  />
                </svg>
              </div>
              <div class="">
                <p class="text-secondary m-0">Ganho</p>
                <p class="m-0 text-success">R$ 10.00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row w-100">
        <div class="col-sm-12 col-md-12 col-lg-10 col-12 p-0">
          <button class="btn btn-warning w-100">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-caret-up me-2"
              viewBox="0 0 16 16"
            >
              <path
                d="M3.204 11h9.592L8 5.519zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659"
              />
            </svg>
            Cheguei ao restaurante
          </button>
        </div>
        <div class="col">
          <button class="btn btn-outline-dark w-100">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
