<div class="container-fluid p-0">
  @if (loading) {
  <div class="text-center p-5">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Carregando...</span>
    </div>
  </div>
  } @else if (enderecos.length === 0) {
  <div class="text-center p-5 text-secondary">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="64"
      height="64"
      fill="currentColor"
      class="bi bi-geo-alt-fill mb-3"
      viewBox="0 0 16 16"
    >
      <path
        d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"
      />
    </svg>
    <h5>Nenhum endereço cadastrado.</h5>
  </div>
  } @else {

  <div class="d-flex flex-column gap-3">
    @for (endereco of enderecos; track endereco.idEndereco) {
    <div class="card rounded-4">
      <div class="card-header">
        <div class="d-flex justify-content-between align-items-center m-0">
          <div class="d-flex gap-3">
            <div class="d-flex flex-column">
              <p class="m-0">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="lucide lucide-map-pin-icon lucide-map-pin text-secondary"
                >
                  <path
                    d="M20 10c0 4.993-5.539 10.193-7.399 11.799a1 1 0 0 1-1.202 0C9.539 20.193 4 14.993 4 10a8 8 0 0 1 16 0"
                  />
                  <circle cx="12" cy="10" r="3" />
                </svg>
                @if (endereco.isPadrao) {
                  <span class="badge text-bg-primary">Padrão</span>
                }
                <span class="fw-bold text-secondary">{{ endereco.tipoEndereco || 'Endereço' }}</span>
                
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-end gap-2">
            @if (enderecoEmEdicaoId === endereco.idEndereco) {
            <button
              class="btn btn-outline-primary d-flex align-items-center gap-1"
              (click)="clickSalvar(endereco)"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-save-icon lucide-save"
              >
                <path
                  d="M15.2 3a2 2 0 0 1 1.4.6l3.8 3.8a2 2 0 0 1 .6 1.4V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2z"
                />
                <path d="M17 21v-7a1 1 0 0 0-1-1H8a1 1 0 0 0-1 1v7" />
                <path d="M7 3v4a1 1 0 0 0 1 1h7" />
              </svg>
              Salvar
            </button>
            <button class="btn btn-sm btn-outline-secondary" (click)="clickCancelar()">
                    Cancelar
                  </button>
            } @else{
            <button class="btn btn-outline-primary" (click)="clickEditar(endereco.idEndereco)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-pencil-icon lucide-pencil"
              >
                <path
                  d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"
                />
                <path d="m15 5 4 4" />
              </svg>
              Editar
            </button>
            }

            <button class="btn btn-outline-danger" (click)="excluirEndereco(endereco.idEndereco)">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-trash2-icon lucide-trash-2"
              >
                <path d="M10 11v6" />
                <path d="M14 11v6" />
                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6" />
                <path d="M3 6h18" />
                <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
              </svg>
              Excluir
            </button>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="row g-3">
          <div class="col-md-6">
            <label class="form-label">CEP:</label>
            <input class="form-control" [(ngModel)]="endereco.cep" [readOnly]="enderecoEmEdicaoId !== endereco.idEndereco" />
          </div>

          <div class="col-md-6">
            <label class="form-label">Cidade:</label>
            <input class="form-control" [(ngModel)]="endereco.cidade" [readOnly]="enderecoEmEdicaoId !== endereco.idEndereco" />
          </div>

          <div class="col-md-6">
            <label class="form-label">Bairro: </label>
            <input class="form-control" [(ngModel)]="endereco.bairro" [readOnly]="enderecoEmEdicaoId !== endereco.idEndereco" />
          </div>

          <div class="col-md-6">
            <label class="form-label">Logradouro: </label>
            <input
              class="form-control"
              [(ngModel)]="endereco.logradouro"
              value=" Almir dos Santos Miranda"
              [readOnly]="enderecoEmEdicaoId !== endereco.idEndereco"
            />
          </div>

          <div class="col-md-6">
            <label class="form-label">Complemento: </label>
            <input class="form-control" [(ngModel)]="endereco.complemento" [readOnly]="enderecoEmEdicaoId !== endereco.idEndereco" />
          </div>

          <div class="col-md-6">
            <label class="form-label">Nº: </label>
            <input class="form-control" [(ngModel)]="endereco.numero" [readOnly]="enderecoEmEdicaoId !== endereco.idEndereco" />
          </div>
        </div>
      </div>
    </div>

    }
  </div>

  }
</div>
