<style>
  @import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
</style>

<div class="container">
  <div class="d-flex flex-column align-items-center m-5">
    <div class="card shadow w-75 rounded-5">
      <div class="card-header bg-primary text-center text-warning rounded-top-5">
        <h3
          class="mb-0"
          style="font-family: 'Shrikhand', serif; font-weight: 500; font-size: xx-large"
        >
          Comy! - Cadastro
        </h3>
        <div class="input-group my-3 text-center w-50 mx-auto">
          <div class="btn-group w-100" role="group">
            <input
              [(ngModel)]="opcao"
              type="radio"
              class="btn-check"
              name="options-base"
              id="option5"
              value="cliente"
              autocomplete="off"
            />
            <label
              class="btn btn-outline-warning btn-sm d-flex align-items-center justify-content-center gap-2 rounded-start-5"
              for="option5"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2" />
                <circle cx="12" cy="7" r="4" />
              </svg>
              Cliente
            </label>

            <input
              [(ngModel)]="opcao"
              type="radio"
              class="btn-check"
              name="options-base"
              id="option6"
              value="entregador"
              autocomplete="off"
            />
            <label
              class="btn btn-outline-warning btn-sm justify-content-center d-flex align-items-center gap-2 rounded-end-5"
              for="option6"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <circle cx="18.5" cy="17.5" r="3.5" />
                <circle cx="5.5" cy="17.5" r="3.5" />
                <circle cx="15" cy="5" r="1" />
                <path d="M12 17.5V14l-3-3 4-3 2 3h2" />
              </svg>
              Entregador
            </label>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col">
            <label for="" class="mb-2">Nome completo *</label>
            <input
              type="text"
              class="form-control"
              placeholder="Nome Completo"
              aria-label="Nome Completo"
              required
            />
          </div>
          <div class="col">
            <label for="" class="mb-2">Telefone *</label>
            <input
              type="tel"
              class="form-control"
              placeholder="(11) 9XXXX-XXXX"
              aria-label="Telefone"
              required
            />
          </div>
        </div>
        <label for="" class="mb-2">E-mail *</label>
        <input
          type="email"
          class="form-control mb-3"
          placeholder="seuemail@exemplo.com"
          aria-label="Email"
          required
        />
        <div class="row mb-3">
          <div class="col">
            <label for="" class="mb-2">Senha *</label>
            <input
              type="password"
              class="form-control"
              placeholder="Min. 8 carac. Maiuscula, Minuscula e Número"
              aria-label="Senha"
              required
            />
          </div>
          <div class="col">
            <label for="" class="mb-2">Confirme a senha *</label>
            <input
              type="password"
              class="form-control"
              placeholder="Confirme sua senha"
              aria-label="Confirme sua senha"
              required
            />
          </div>
        </div>
        @if (opcao === 'cliente') {
        <p class="text-secondary">Endereço de entrega</p>
        <div class="row mb-3">
          <div class="col-9">
            <label for="" class="mb-2">Rua *</label>
            <input
              type="text"
              class="form-control"
              placeholder="Sua rua"
              aria-label="Sua rua"
              required
            />
          </div>
          <div class="col">
            <label for="" class="mb-2">Número *</label>
            <input
              type="number"
              class="form-control"
              placeholder="Número da residência"
              aria-label="Número da residência"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="" class="mb-2">Bairro *</label>
            <input
              type="text"
              class="form-control"
              placeholder="Seu bairro"
              aria-label="Seu bairro"
            />
          </div>
          <div class="col">
            <label for="" class="mb-2">Cidade *</label>
            <input
              type="text"
              class="form-control"
              placeholder="Sua cidade"
              aria-label="Sua cidade"
              required
            />
          </div>
          <div class="col">
            <label for="" class="mb-2">CEP *</label>
            <input
              type="number"
              class="form-control"
              placeholder="Seu CEP"
              aria-label="Seu CE"
              required
            />
          </div>
        </div>

        } @else {
        <p class="text-secondary">Informações de veículo</p>
        <div class="row g-3">
          <div class="col-md-4">
            <label class="form-label">Tipo de Veículo *</label>
            <select
              [(ngModel)]="tipoVeiculo"
              class="form-select"
              aria-label="Large select example"
              required
            >
              <option selected value="">Selecione</option>
              <option value="moto">Moto</option>
              <option value="carro">Carro</option>
              <option value="bicicleta">Bicicleta</option>
            </select>
          </div>

          @if (tipoVeiculo === 'carro' || tipoVeiculo === 'moto') {
          <div class="col-md-4">
            <label class="form-label">Placa *</label>
            <input class="form-control" placeholder="ABC-1234" required />
          </div>
          } @else {
          <div class="col-md-4">
            <label class="form-label">Placa</label>
            <input class="form-control" placeholder="N/A" disabled />
          </div>
          }

          <div class="col-md-4">
            <label class="form-label">Modelo</label>
            <input class="form-control" placeholder="Honda CG 160" />
          </div>
        </div>
        }
        <button class="btn btn-primary w-100 mt-3" type="submit">Criar Conta</button>
        <p class="text-center mt-3">Já tem uma conta? <a routerLink="/login">Fazer Login</a></p>
      </div>
    </div>
  </div>
</div>
