<div class="bg-primary p-5 text-white">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <p class="m-0">Painel do entregador</p>
      <button class="btn btn-light" routerLink="/entregador/entregas">
        <i class="bi bi-box-seam me-2"></i>
        Minhas Entregas
      </button>
    </div>
    <p>Painel do entregador</p>
    <div class="row gap-lg-0 gap-md-2 gap-sm-2 gap-2">
      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="card bg-info bg-opacity-25 p-3 rounded-4">
          <div class="row">
            <div class="col-10">
              <div class="d-flex flex-column text-white">
                <p class="card-text m-0 opacity-75">Entregas Disponíveis</p>
                <h2 class="text-white m-0">{{ entregasDisponiveis }}</h2>
              </div>
            </div>
            <div class="col align-content-center text-warning">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="36"
                height="36"
                fill="currentColor"
                class="bi bi-box-seam"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5l2.404.961L10.404 2zm3.564 1.426L5.596 5 8 5.961 14.154 3.5zm3.25 1.7-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464z"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="card bg-info bg-opacity-25 p-3 rounded-4">
          <div class="row">
            <div class="col-10">
              <div class="d-flex flex-column text-white">
                <p class="card-text m-0 opacity-75">Total de pedidos atribuídos</p>
                <h2 class="text-white m-0">{{ totalPedidosAtribuidos }}</h2>
              </div>
            </div>
            <div class="col align-content-center" style="color: greenyellow">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="36"
                height="36"
                fill="currentColor"
                class="bi bi-check-circle"
                viewBox="0 0 16 16"
              >
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path
                  d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="card bg-info bg-opacity-25 p-3 rounded-4">
          <div class="row">
            <div class="col-10">
              <div class="d-flex flex-column text-white">
                <p class="card-text m-0 opacity-75">Ganhos (estimado)</p>
                <h2 class="text-white m-0">R$ {{ formattedGanhoEstimado }}</h2>
              </div>
            </div>
            <div class="col align-content-center" style="color: greenyellow">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="36"
                height="36"
                fill="currentColor"
                class="bi bi-currency-dollar"
                viewBox="0 0 16 16"
              >
                <path
                  d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <app-entrega-disponivel (entregaAceita)="aoAceitarEntrega()"/>
</div>
