<div class="card rounded-4 mt-3 p-3">
  <div class="row">
    <div class="col-3">
      <img [src]="imagemUrl" class="w-100 rounded-4" alt="" style="height: 100px; width: auto" />
    </div>
    <div class="col">
      <div>
        <p class="mb-1">{{ Produto.nmProduto }}</p>
        <p class="text-secondary">{{ Produto.dsProduto }}</p>
      </div>
      <div class="d-flex justify-content-between align-items-center mt-3">
        <p>R$ {{ Produto.vlPreco }}</p>
        <button class="btn btn-outline-primary btn-sm">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-plus-lg"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"
            />
          </svg>
          Adicionar
        </button>
      </div>
    </div>
  </div>
</div>
