.card {
  border-radius: 20px;
}

.rounded-4 {
  border-radius: 1.2rem !important;
}

h4 {
  font-weight: 600;
}

.text-secondary {
  font-size: 14px;
}

.btn-outline-primary {
  padding: 8px 20px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 50px;
}

.btn-outline-primary i {
  font-size: 16px;
}

.btn-check:checked + .btn-outline-primary {
  background-color: #0d6efd;
  color: white;
  border-color: #0d6efd;
}

.form-label {
  font-weight: 500;
}

.form-control {
  border-radius: 10px;
  padding: 10px;
}

textarea.form-control {
  resize: none;
}

select.form-select {
  border-radius: 12px;
  padding: 10px;
}

select[multiple] {
  height: auto;
  min-height: 120px;
  padding: 10px;
}

input[type="file"] {
  border-radius: 12px;
  padding: 8px;
  background: #f8f9fa;
  cursor: pointer;
}

.mt-4 {
  margin-top: 1.8rem !important;
}

.card h5 {
  font-weight: 600;
  margin-bottom: 15px;
}

.btn-primary {
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 12px;
}

@media (max-width: 768px) {
  .btn-outline-primary {
    padding: 6px 10px;
    font-size: 14px;
  }

  h4 {
    font-size: 18px;
  }

  .card {
    padding: 15px !important;
  }
}

.preview-img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 10px;
}
